<div class="content" style="width: 500px">
  <h1 class="title">Period</h1>

  <div class="row">
    <div>Start date</div>
    <br>
    <div>{{period.min}}</div>
  </div>

  <br>
  <br>

  <div class="row">
    <div>End date</div>
    <br>
    <div>{{period.max}}</div>
  </div>

  <br>
  <br>

  <ghm-date-picker
    [options]="datePickerOptions"
    [(ngModel)]="period">
  </ghm-date-picker>

  <br>
  <br>

  <h1 class="title">Single date</h1>

  <div class="row">
    <div>Date</div>
    <br>
    <div>{{singleDate}}</div>
  </div>

  <br>
  <br>

  <ghm-date-picker
    [options]="datePickerSingleOptions"
    [(ngModel)]="singleDate">
  </ghm-date-picker>
</div>
